{% extends 'base.html' %}
{% block content %}
    <div class="container body-content">
        <section id="menu">
            <div class="container body-content">
                <h1 style="margin: 50px 0px" class="title">Меню</h1>
                <div class="row">
                    {% for items in categories %}
                        <h2 style="margin-bottom: 30px" class="title">{{ items.title }}</h2>
                        {% for dish in items.dishes %}
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8"><h5><a href="/menu/{{ dish.pk }}">{{ dish.title }}</a></h5>
                                    </div>
                                    <div class="col-md-4"><h3 align="right">{{ dish.price }} $</h3></div>
                                    <div class="col-md-12"><img src="{{ dish.photo.url }}" class="img-thumbnail"></img>
                                    </div>
                                    <div class="col-md-12"><h5 class="text-muted">{{ dish.description }}</h5></div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="events">
            <div class="container body-content">
                <h1 style="margin: 50px 0px">События</h1>
                <div class="row">
                    {% for item in events %}
                        <div class="col-6">
                            <h2 style="margin-bottom: 30px" class="title">{{ item.title }}</h2>
                            <div class="row">
                                <div class="col-md-12"><img src="{{ item.photo.url }}" class="img-thumbnail"/></div>
                                <div class="col-md-12"><h3 class="text-muted">{{ dish.description }}</h3></div>
                                <div class="col-md-3"><h3>Дата: </h3></div>
                                <div class="col-md-9"><h3 align="right">{{ item.event_date }}</h3></div>
                                {% if item.price == 0 %}
                                    <div class="col-md-3"><h3>Стоимость:</h3></div>
                                    <div class="col-md-9"><h3 align="right">Бесплатно</h3></div>
                                {% else %}
                                    <div class="col-md-3"><h3>Стоимость:</h3></div>
                                    <div class="col-md-9"><h3 align="right">{{ item.price }} $</h3></div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="reservation">
            <div class="container">
                <div>
                    <h3>Відправте нам ваше повідомлення</h3>
                    <form name="sendMessage" id="contactForm" novalidate action="" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                {{ form.user_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.user_email }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.message }}
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
{% endblock %}